*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body{
  font-family: "Inter", sans-serif;
}

.header{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
    padding: 10px;
    z-index: 999;
}
.container{
  
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo{
    font-size: 3rem;
}


.navigation-links.transform{
    transform: translateX(1000px);
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: #fff;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    margin-left: 2rem;
    color: #fff;
  letter-spacing: .3rem;
}

nav ul li a:hover{
    color: #F06000;
}

.social-links{
    font-size: 3rem;
}

.social-logo{
    margin-left: 2rem;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
.social-logo:hover{
  opacity: .8;
}

.section-hero{
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url(../img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    position: relative;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
}



.main-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.main-message h1{
    font-size: 6rem;
    margin-bottom: 2rem;
}

.main-message p{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #a8a8a8;
    line-height: 1.5;
}


.main-message p span{
  font-weight: 700;
  color: #fff;
}

.section-about{
    background-color: #000;
    padding: 15rem 0;
    color: #fff;
}
.about{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.section-about__image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.section-about__text{
    width: 40%;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #7a7a7a;

}
.section-about__contact-details{
    display: flex;
    gap: 4rem;
}

.section-about__about-me{
  margin-bottom: 2rem;
}

.second-heading{
  font-size: 3rem;
  margin-bottom: 1.6rem;
  color: #fff;
}

.background{
    background: #0e1425;

}
.cv-button a{
    text-decoration: none;
    color: #fff;
    background-color: #444;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    
}

.cv-button a:hover{
  opacity: .8;
}

.section-education{
    background-color: #000;
    color: #fff;
    padding: 15rem 0;
}

.education{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    font-size: 1.6rem;
    justify-content: center;
}

.education__card{
    background-color: #1A1A1A;
    padding: 4rem;
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.education__year{
    color: #FFBD39;
    font-size: 2.7rem;
    font-weight: 900;
}

.education__major{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 400;
}

.education__name{
    font-size: 1.2rem;
    color: #999;
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing:3px;
}
.education__description{
    font-size: 1.6rem;
    color: #999;
    font-weight: 400;
    line-height: 2;
}

.section-skills {
    background-color: #000;
    color: #fff;
    padding: 15rem 0;
}

.skills__heading, .projects__heading, .education__heading {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 6rem;
    font-weight: 700;
    letter-spacing: .3rem;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    font-size: 1.6rem;
}

.skill-card {
    background-color: #222;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card__content h3 {
    font-size: 2rem;
    color: #ffbd39;
    margin-bottom: 0.5rem;
}

.skill-card__content p {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
}

.text-center {
    text-align: center;
    margin-bottom: 4rem;
}



.section-projects{
    background-color: #000;
    color: #fff;
    padding: 15rem 0;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
}

.projects .project img{
    width: 100%;
    height: 100%;
    
}

.project{
    position: relative;
    cursor: pointer;
}

.project__info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffbd39;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: .3s;
    font-size: 1.4rem;
    color: #fff;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}

.project:hover .project__info{
    opacity: .9;
}

.tags span{
    background-color: #000;
    color: #fff;
    padding: .5rem 1rem;
    margin-right: .5rem;
    border-radius: 5px;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 2rem;
}

.tags .html{
    background-color: #E44D26;
}

.tags .css{
    background-color: #214CE5;
}

.tags .sass{
    background-color: #CC6699;
}

.tags .js{
    background-color: #ffdd00;
}

.live{
    color: #fff;
    margin-right: .5rem;
   
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.live span a{
    background-color: rgba(0,0,0,.7);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.live span a:hover{
    opacity: .8;
}

.live-icon, .github-icon{
    font-size: 2rem;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 20rem 0 3rem 0;
    text-align: center;
}

.footer__social-links{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding: 2rem;
}

.footer__link{
    font-size: 2.5rem;
    color: #fff ;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.footer__link:hover{
        color: #F06000;

}

.footer__copy-right{
    font-size: 1.6rem;
}

.hamburger-menu{
    flex-direction: column;
    gap: .7rem;
    cursor: pointer;
    display: none;
}

.hamburger-menu span{
    width: 4rem;
    height: 3px;
    background-color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

@media screen and (max-width:68.187em) {
    html{
        font-size: 56.25%;
    }
    .main-message h1{
        font-size: 4rem;
    }

    .main-message p{
        font-size: 1.6rem;
    }
    .about{
        gap: 6rem;
    }
    .cv-button a{
        padding: 1rem 1rem;
        font-size: 1rem;
        width: 10rem;
    }
    .container{
        padding: 0 4rem;
    }
        
    .footer__link{
        font-size: 2rem;
    }
}

@media screen and (max-width: 56.25em) {
    html{
        font-size: 50%;
    }
     .about{
        gap:10rem;
    }
    .section-about__contact-details{
        display: block;
    }
    .cv-button a{
        width: 100%;
    }
    footer{
        padding: 10rem 0 3rem 0;
    }
}

@media screen and (max-width:36.68em) {
    .about{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 6rem;
    }
    html{
        font-size: 43.75%;
    }
    .section-about__about-me{
        margin-bottom: 6rem;
        text-align: left;
    }

    .section-about__about-me p{
        text-align: left;
    }

    .section-about__contact-details{
        text-align: left;
    }
    .skills {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
    .projects{
        grid-template-columns: 1fr;
    }
    .main-message h1{
        font-size: 2.5rem;
    }

    .main-message p{
        font-size: 1.4rem;
    }
    .social-links{
        display: flex;
    }
    .navigation-links{
        display: none;
    }
        
    .hamburger-menu{
        display: flex;
    }
    .footer__link{
        font-size: 1.4rem;
    }
    .footer__social-links{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navigation-links.open{
       display: flex;
       flex-direction: column;
       position: absolute;
       top: 73px;
       left: 0;
       background-color: rgba(0,0,0,.5);
       width: 100vw;
       gap: 2rem;
       padding: 20px;
       align-items: center;
       transform: translateX(0);
    }
    .navigation-links.open a{
        font-size: 1.8rem;
    }
    .education__card{
        width: 100%;
    }
}